@import "common/variables";

/***
  
  *

  TEAM  
  *

***/

.team{
	width:100%;
	padding-top:80px;
	background: url(bg_team.png) no-repeat center center;
	background-size: cover;

	h1{
		color: $white;
	}

	.team_member{
		overflow: hidden;
		margin: 54px auto 0 auto;
		width: 948px;

		.member{
			width: 316px;
			height: 402px;
			float: left;
			position: relative;

			&.member_1{
				background: url(members/portrait_1.jpg) no-repeat left 20px;
			}
			&.member_2{
				background: url(members/portrait_2.jpg) no-repeat top left;
			}
			&.member_3{
				background: url(members/portrait_3.jpg) no-repeat left 20px;
			}

			.member_name{
				width: 100%;
				font-size: 26px;
				color: $white;
				text-align: center;
				text-transform: uppercase;
				position:absolute;
				bottom: 30px;
			}
			.overlay{
				width: 316px;
				height: 402px;
				background: url(portrait_overlay.png) no-repeat top left;
				position: absolute;
			}
		}
	}

}
