    <footer class="footer">
    	<ul>
    		<li class="link">
    			<a href="datenschutzbestimmungen.php">Datenschutzbestimmungen</a>
    		</li>
    		<li class="link">
    			<a href="kontakt.php">Kontakt</a>
    		</li>
    		<li class="link">
    			<a href="impressum.php">Impressum</a>
    		</li>

    	</ul>
    </footer>