<!-- FILTER -->
    
<section class="filter">
  <ul>

    <li class="price">
      <!-- Dropdown -->
      <div id="dropdown_price" class="wrapper-dropdown" tabindex="2">
        <span>Preissegmente</span>
        <ul class="dropdown">
            
            <li>
                <input type="checkbox" name="price" value="price_1">
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur inactive"></i>
                <i class="fa fa-eur inactive"></i>
            </li>
            <li>
                <input type="checkbox" name="price" value="price_2">
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur inactive"></i>
            </li>
            <li>
                <input type="checkbox" name="price" value="price_3">
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur"></i>
            </li>
            
            <span class="divider"></span>
            
            <li class="mark_all">Alle markieren</li>
            <li class="remove_all">Alle entfernen</li>
        </ul>
     </div>
    </li>
    <!-- Dropdown -->
    <li class="language">
      <div id="dropdown_language" class="wrapper-dropdown" tabindex="3">
        <span>Sprachversionen</span>
        <ul class="dropdown">
            
            <li>
              <input type="checkbox" name="language" value="language_1">
              Deutscher Shop
            </li>
            <li>
              <input type="checkbox" name="language" value="language_2">
              Ausländischer Shop mit deutscher Website
            </li>
            <li>
              <input type="checkbox" name="language" value="language_3">
              <p>Englischsprachiger Shop mit Versand nach Deutschland</p>
            </li>
            
            <span class="divider"></span>
            
            <li class="mark_all">Alle markieren</li>
            <li class="remove_all">Alle entfernen</li>
        </ul>
     </div>
    </li>
    <!-- Dropdown -->
    <li class="provider">
      <div id="dropdown_provider" class="wrapper-dropdown" tabindex="4">
        <span>Anbieter</span>
        <ul class="dropdown">
            
            <li>
              <input type="checkbox" name="provider" value="provider_1">
              Shop mit vielen Marken
            </li>
            <li>
              <input type="checkbox" name="provider" value="provider_2">
              Shop einer Marke
            </li>
            
            <span class="divider"></span>
            
            <li class="mark_all">Alle markieren</li>
            <li class="remove_all">Alle entfernen</li>
        </ul>
     </div>
    </li>

  </ul>
</section>