<!-- INTRO -->

<section class="intro men"></section>

<a href="#headline_block" class="arrow"></a>

<!-- HEADLINE BLOCK -->
    
<section class="headline_block" id="headline_block">
  <div class="headline">
  	<%= @headline %>
  	# of shops: <%= @shops.length %>
  </div>
</section>