<!-- SHOP SUGGEST -->
    
<section class="shop_suggest" id="shop_suggest">

  <h2 class="with_subline"><span class="bold">Du kennst weitere</span> stylische Shops?</h2>
  <p>Wir nehmen deine Vorschläge gerne entegegen.</p>

  <form>
    <fieldset>
      <ul>
        <li>
          <input class="input_white" type="text" name="url" value="" placeholder="Shop URL">
        </li>
        <li>
          <input class="input_white" type="text" name="email" value="" placeholder="Deine E-Mail Adresse">
        </li>
        <li>
          <div class="button_white"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;&nbsp; Shop vorschlagen</div>
        </li>
      </ul>
    </fieldset>
  </form>

</section>