<!-- SIGNUP FORM -->
    
<section class="signup_form" id="signup_form">
  
  <div class="usp">
    <h2><span class="bold">Best Style Shops</span> Konto</h2>
    <ul>
      <li>
        <i class="fa fa-bookmark-o"></i>
        <p>Insidertipp-Shops aufdecken und Bookmarks anlegen</p>
      </li>
      <li>
        <i class="fa fa-envelope-o"></i>
        <p>Per E-Mail über Aufnahme neuer Shops informiert werden (falls gewünscht)</p>
      </li>
      <li>
        <i class="fa fa-star-o"></i>
        <p>Insider-Infos und -Tipps zu den besten Online-Adressen für den stilsicheren Mann erhalten</p>
      </li>
    </ul>
  </div>
  
  <div class="form_field">
    <form>
      <fieldset>
        <ul>
          <li>
            <input class="input_black" type="text" name="email" value="" placeholder="Deine E-Mail Adresse">
          </li>
          <li>
            <div class="button_black">Jetzt kostenlos registrieren</div>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>

</section>