<!-- TEAM -->
    
<section class="team" id="team">

    <h1><span class="bold">Das Experten Team</span><br> von Best Style Shops</h1>
    
    <ul class="team_member">
      <li class="member member_1">
        <div class="overlay"></div>
        <div class="member_name">Brian Spors</div>
      </li>
      <li class="member member_2">
        <div class="overlay"></div>
        <div class="member_name">Maria Gonzales</div>
      </li>
      <li class="member member_3">
        <div class="overlay"></div>
        <div class="member_name">Jerome Conway</div>
        
      </li>
    </ul>

</section>