/***

		*

		VARIABLES

		*

***/


/**

	COLORS

**/

$white: #fff;
$black: #232526;
$turquois: #a9fddd;
$turquois-darken: #9be7ca;
$orange: #fdcba9;
$red: #ff8181;


/**

	FONT

**/

$grey-light: #d0d1d1; /* Inactive White Overlay */
$grey-dark: #6c6c6c; /* Inactive Black Overlay */