/***
	
	*

	VARIABLES
	
	*

***/


/**

    COLORS

**/

$white: #fff;
$black: #232526;
$turquois: #a9fddd;
$turquois_darken: #9be7ca;
$orange: #fdcba9;
$red: #ff8181;
$grey_light: #d0d1d1; /* Inactive White Overlay */
$grey_dark: #6c6c6c; /* Inactive Black Overlay */


/**

    FONT

**/
